body {
  font-family: 'Roboto', sans-serif;
}

.feature-list {
    list-style: none;            /* Xóa chấm đầu dòng mặc định */
    padding: 0;
    margin: 0;
}

.feature-list li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 12px;         /* Khoảng cách giữa các dòng */
    padding-left: 25px;          /* Khoảng cách giữa dấu ✔ và văn bản */
    text-align: left;            /* Căn trái nội dung */
}
.faq-title {
    margin-top: 150px;
  }

.container {
   width: 1100px;
   text-align: left;
}
.column-left {
  float: left;
  width: 50%;
  background-color: black;
}

.column-right {
  float: right;
  width: 50%;
}
 .banner-full {
  width: 100%;      /* tận dụng toàn bộ chiều ngang chứa nó */
  height: auto;     /* giữ tỉ lệ gốc ảnh */
  display: block;   /* xoá khoảng trắng thừa (inline-block) */
  object-fit: cover;/* phủ kín nếu bạn cho thêm chiều cao cố định */
}

